<section id="index">
	<div id="logo-section">
		<img src="img/killhope.svg" id="killhope-logo" alt="">
	</div>
	<div id="links-section">
		<div class="row">
			<a href="#/minerals">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
					<circle id="mycircle" cx="50" cy="50" r="46"/>
					<text y="50">
						<tspan x="50" dy="0">Mineral</tspan>
						<tspan x="50" dy="1em">Collection</tspan>
					</text>
				</svg>
			</a>
			<a href="#/quiz">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
					<circle id="mycircle" cx="50" cy="50" r="46"/>
					<text x="50" y="50">Quiz</text>
				</svg>
			</a>
		</div>

		<div class="row">
			<a href="#/history">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
					<circle id="mycircle" cx="50" cy="50" r="46"/>
					<text y="50">
						<tspan x="50" dy="0">Geological</tspan>
						<tspan x="50" dy="1em">History</tspan>
					</text>
				</svg>
			</a>
			<a href="#/glossary">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
					<circle id="mycircle" cx="50" cy="50" r="46"/>
					<text x="50" y="50">Glossary</text>
				</svg>
			</a>
		</div>
		<!-- <div class="row">
			<a href="/#/plan">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
					<circle id="mycircle" cx="50" cy="50" r="46"/>
					<text y="50">
						<tspan x="50" dy="0">Floor</tspan>
						<tspan x="50" dy="1em">Plan</tspan>
					</text>
				</svg>
			</a>
		</div> -->
	</div>
</section>
