<div id="rockViewB" title="2">
    <section class="rock-body">
        <ul title="Uses"><li ng-repeat="use in rock.uses">{{use}}</li></ul>
        <ul title="Main Extractors"><li ng-repeat="extractor in rock.extractors">{{extractor}}</li></ul>
        <ul title="Crystal Habit"><li ng-repeat="habit in rock.chabit">{{habit}}</li></ul>
        <p title="Crystal Structure">{{rock.cstruct}}</p>
        <ul title="Depositional Environment"><li ng-repeat="d in rock.depenv">{{d}}</li></ul>
        <p title="Transparency">{{rock.tparency}}</p>
        <p title="Origin of Name">{{rock.origin}}</p>
        <p title="Colours observed at Killhope">{{rock.observed | rockColour}}</p>
    </section>
</div>
