<div id="rockViewA", title="1">
    <section id="hero">
        <div id="rock-title">
            <div>
                <h1 data-fittext>{{rock.name}}</h1>
                <h2 ng-bind-html="rock.formula | formula"></h2>
            </div>
        </div>
        <div class="hero-img-wrapper">
            <img ng-src="img/{{rock.hero}}" imgload class="unloaded">
        </div>
    </section>
    <section class="rock-body">
        <p title="Colour">{{rock.colour | rockColour}}</p>
        <p title="Abundance">{{rock.abundance}}</p>
        <p title="Hardness">{{rock.hardness}}</p>
        <p title="Lustre">{{rock.lustre}}</p>
        <p title="Ore">{{rock.ore}}</p>
        <p title="Fact">{{rock.fact}}</p>
    </section>
</div>
